My friends and I are avid OWL fans and participated in a fantasy league during season 1. Unfortunately, my drafted team wasn't the best as I mostly drafted from the heart and chose a bunch of SF Shock players. This season, I've decided to try using data analysis to try to get the edge up on my friends!

In [47]:
from bs4 import BeautifulSoup
import requests
from codecs import open
from re import sub
import sqlite3 as sql
import pandas as pd
import pandas.io.sql as psql

# cell indices of the following attributes
NAME = 1
ROLE = 2
TEAM = 3
KILLS = 4
DEATHS = 5
ULTS = 6
FK = 7
FD = 8
RES = 9
PTS = 10
PTS10 = 11


def clean(text):
    # remove all HTML code and surrounding whitespace to get the clean attribute
    try:
        return re.sub('<.*?>', '', text).strip()
    except:
        return text.strip()

class Player:
    def __init__(self, info):
        self.info = info
        self.name = clean(self.info[NAME].text)
        self.role = clean(self.info[ROLE].text)
        self.team = clean(self.info[TEAM].text)
        self.kills = clean(self.info[KILLS].text)
        self.deaths = clean(self.info[DEATHS].text)
        self.ults = clean(self.info[ULTS].text)
        self.fk = clean(self.info[FK].text)
        self.fd = clean(self.info[FD].text)
        self.res = clean(self.info[RES].text)
        self.pts = clean(self.info[PTS].text)
        self.pts10 = clean(self.info[PTS10].text)

        self.attrs = []
        self.attrs.append(self.name)
        self.attrs.append(self.role)
        self.attrs.append(self.team)
        self.attrs.append(self.kills)
        self.attrs.append(self.deaths)
        self.attrs.append(self.ults)
        self.attrs.append(self.fk)
        self.attrs.append(self.fd)
        self.attrs.append(self.res)
        self.attrs.append(self.pts)
        self.attrs.append(self.pts10)

In [108]:
# this function takes a URL and makes a dataframe out of it
def create_week_dataframe(url):

    content = requests.get(url).content
    #page = open(url, 'r', 'utf-8')
    soup = BeautifulSoup(content, 'html.parser')

    # get the table headers
    table_header = soup.find_all('th')
    columns = ['Week']
    for cell in table_header[1:]: # skip 0 because that just has the player picture
        columns.append(clean(cell.text))

    # loop through the rows within the table for each player
    table = soup.find('tbody')
    player_table = table.find_all('tr')
    players = []
    for row in player_table[0:]: # skip first row because there is no data there
        person = row.find_all('td')
        players.append(Player(person))

    week_num = url.split('week=')[1]

    # add the data into the dataframe table
    df = pd.DataFrame(columns=columns)
    for player in players:
        df = df.append(pd.DataFrame(columns=columns, data=[[week_num] + player.attrs]))

    df = df.set_index('Player')
    
    return df

In [109]:
df.head()

,Week,Role,Team,K,D,U,FK,FD,Ress,Points,Pts/10
Player,,,,,,,,,,,
Seagull,1,Tank,Dallas Fuel,53,39,21,6,8,0,90,17.85
TviQ,1,Offense,Florida Mayhem,76,84,31,17,14,0,122,13.54
uNKOE,1,Support,Los Angeles Valiant,40,76,45,5,10,0,44,3.68
Taimou,1,Offense,Dallas Fuel,114,80,52,15,12,0,221,18.73
chipshajen,1,Support,Dallas Fuel,2,48,23,0,6,0,-33,-5.25

In [116]:
OWL_URL_BASE = "https://www.winstonslab.com/fantasy/result.php?cID=22&league=2171&week="
weekly_data = []
for i in range(1, 20):
    weekly_data.append(create_week_dataframe(OWL_URL_BASE + str(i)))

weekly_data[19].head()

IndexError: list index out of range