In [40]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('owl.db')
c = conn.cursor()

#Creating a database from the CSVs
# for i in range(1, 21):
#     week.to_csv('Week' + str(i) + '.csv')

x = pd.read_csv('week1.csv')
x.head()
y = x.iloc[:, 4:]

,Player,Week,Role,Team,K,D,U,FK,FD,Ress,Points,Pts/10
0,Seagull,1,Tank,Dallas Fuel,53,39,21,6,8,0,90,17.85
1,TviQ,1,Offense,Florida Mayhem,76,84,31,17,14,0,122,13.54
2,uNKOE,1,Support,Los Angeles Valiant,40,76,45,5,10,0,44,3.68
3,Taimou,1,Offense,Dallas Fuel,114,80,52,15,12,0,221,18.73
4,chipshajen,1,Support,Dallas Fuel,2,48,23,0,6,0,-33,-5.25

In [46]:
y.to_sql('weekx', conn)

In [54]:
y = y.set_index(x['Player'])
y.to_sql('weekxy', conn)

In [57]:
c.execute('SELECT * FROM player_info').fetchall()

[]